.App {
  text-align: center;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
}

.header-only {
  min-height: 100vh;
}

.haeder-with-main {
  min-height: 10vh;
}

.App-link {
  color: #61dafb;
}

.name {
  text-transform: capitalize;
}

.App-main {
  background-color: #282c34;
  min-height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.App-main-item {
  margin: 12px 5vw;
  background-color: #ddd;
  width: 100%;
  border-radius: 6px;
  padding-top: 6px;
  padding-bottom: 12px;
}
