.summaries-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.summaries-group h3 {
  font-size: 110%;
  padding: 2px 6px;
  display: inline;
}
