table {
  margin: 6px 2vw;
}

td, th {
  padding: 4px 12px;
  text-align: left;
}

th {
}

td {
  border: 1px solid #666;
}

tr:nth-child(even) {
  background-color: #bbb;
}

.small-input {
  width: 5em;
}

.year-summary {
  margin-left: 6px;
}

.action-btn {
  padding: 3px;
  border-radius: 2px;
  font-size: 60%;
}

.charts-box {
  margin: 6px;
  padding: 6px;
  background: white;
}

.pill-box {
  padding: 6px;
}

.pill {
  display: inline-block;
  padding: 2px 6px;
  margin: 2px 2px;
  color: black;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.map-segment-info {
  top: -32px;
  height: 0px;
  position: relative;
}

.map-segment-info-inner {
  display: inline;
  padding: 3px;
  position: absolute;
  height: 20px;
  font-size: 12px;
  background: white;
}

.map-segment-info-inner h3 {
  display: inline-block;
  margin: 0px 12px 0px 0px; 
}
