.progress-symbol h3 {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.progress-events {
  color: #007944;
}

.goal-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

.react-sweet-progress-symbol-absolute {
  font-size: 22px;
  position: relative;
  top: calc(-100% + 26px);
}

.goals-meters {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

.gauge-caption h3 {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.gauge-caption {
  font-size: 14px;
}
